.comments {
    position: relative;
}

.comments__title {
    cursor: pointer;
    position: relative;
}

.comments__items {
    position: relative;
    top: -100%;
    left: 0px;
    transform: scaleY(0);
    height: 0;
    overflow: auto;
    max-height: 250px;
    background: white;
    display: grid;
    gap: 20px;
    padding: 20px;
    transform-origin: 0 0;
    width: 100%;
    z-index: 0;
    transition: all .3s;
    margin-bottom: 50px;
}

.comments__items.active {
    transform: scaleY(1);
    height: 100%;
}

.comments__form {
    height: 100%;
    display: grid;
    max-width: 300px;
    gap: 20px;
}

.comments__button {
    border-radius: 20px;
    border: 1px solid transparent;
    background: #A0BC00;
    font-weight: 700;
    color: white;
    font-size: 16px;
    transition: all .3s;
    padding: 15px 20px;
    width: max-content;
    font-family: 'Shantell Sans';
    margin: 0 auto;
    cursor: pointer;
    display: block;
    text-decoration: none;

}

.comments__button:disabled {
    background: gray;
    color: white;
}

.comments__form textarea {
    height: 100px;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 15px;
}