.news {
    margin-top: 100px;
}

.news h1 {
    text-align: center;
    font-weight: 700;
}

.news__list {
    margin-top: 50px;
    padding-left: 0;
    display: grid;
    gap: 15px;
}

.button__add {
    border-radius: 20px;
    border: 1px solid transparent;
    background: #A0BC00;
    font-weight: 700;
    color: white;
    font-size: 16px;
    transition: all .3s;
    padding: 15px 40px;
    width: max-content;
    font-family: 'Shantell Sans';
    margin: 0 auto;
    cursor: pointer;
    margin: 20px auto;
    display: block;
    text-decoration: none;
}

.button__add:hover {
    color: #A0BC00;
    letter-spacing: 2px;
    font-weight: 900;
    background: white;
    border: 1px solid #A0BC00;
}

.button__filter {
    padding: 10px 20px;
    font-family: 'Shantell Sans';
    font-size: 18px;
    border: 1px solid #A0BC00;
    background: #A0BC00;
    color: white;
    border-radius: 10px;
}


.button__filter option {
    background: white;
    color: black;
}

.button__filter option:nth-child(1) {
    display: none;
}


.animateOnScroll {
    opacity: 0;
    transform: translateX(200px);
    transition: all .3s;
}

.animate {
    opacity: 1;
    transform: translateX(0);
}



@media (max-width:577px) {
    .news {
        padding: 0 20px;
    }

    .news__list {
        gap: 25px;
    }
}